<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="Modals" class="modal-buttons">
        <button class="btn btn-success" (click)="lgModalShow()">Large modal</button>
        <button class="btn btn-warning" (click)="smModalShow()">Small modal</button>
        <button class="btn btn-primary" (click)="staticModalShow()">Static modal</button>
        <button class="btn btn-danger" (click)="childModalShow()">Open child modal</button>
      </ba-card>
    </div>
    <div class="col-md-12">
      <ba-card cardTitle="Notifications" class="modal-buttons">
          <button type="button" class="btn btn-success" (click)="showSuccessMsg()">Success Notification</button>
          <button type="button" class="btn btn-info" (click)="showInfoMsg()">Info Notification</button>
          <button type="button" class="btn btn-warning" (click)="showWarningMsg()">Warning Notification</button>
          <button type="button" class="btn btn-danger" (click)="showErrorMsg()">Danger Notification</button>
        </ba-card>
  </div>
</div>
